<div class="event">
  <div class="ui content">
    <div class="summary">
      <a href="/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</a> tweeted
      <br>
    </div>
    <div class="extra text">
      {{content}}
    </div>
    <div class="meta">
      {{timestamp}}
    </div>
  </div>
</div>