<div class="event">
  <div class="ui content">
    <div class="summary">
      <a href="/profile/{{user._id}}">{{user.firstName}} {{user.lastName}}</a> tweeted
      <div class="date">
        {{timestamp}}
      </div>
    </div>
    <div class="extra text">
      {{content}}
    </div>
    <div class="meta">
      <a class="like">
        <i class="like icon"></i> {{likes}} Likes
      </a>
    </div>
  </div>
</div>